{% extends 'dashboard/index.html.twig' %}

{% block title %}Edit Civilisation{% endblock %}

{% block body %}
<fieldset align="center">
<br><br><br><br><br>
    <link href="{{asset('assets/css/abdallah.css')}}" rel="stylesheet">
    <h1 >Edit Civilisation</h1>
    <table align="center">
        <tr>
            {{ include('civilisation/_form.html.twig', {'button_label': 'Update'}) }}

   {# <a href="{{ path('app_civilisation_index') }}">back to list</a> #}
    <button class="button-5" role="button"><a href="{{ path('app_civilisation_index') }}" style="color: white;">back to list</a></button>

    {{ include('civilisation/_delete_form.html.twig') }}
             
        </tr>
    </table>
        <br><br><br><br><br>

    

</fieldset>
{% endblock %}
