{% extends 'back.html.twig' %}

{% block title %}ReservationProgramme List{% endblock %}

{% block body %}
    <h1>ReservationProgramme List</h1>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Nbpersonne</th>
                <th>Heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_programme in reservation_programmes %}
            <tr>
                <td>{{ reservation_programme.programme }}</td>
                <td>{{ reservation_programme.date ? reservation_programme.date|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_programme.nbpersonne }}</td>
                <td>{{ reservation_programme.heure }}</td>
                <td>
                    <a href="{{ path('app_reservation_programme_show', {'id': reservation_programme.id}) }}">show</a>
                     </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
